# Data processing and analysis
pandas
numpy

# Data visualization
matplotlib
seaborn

# Machine Learning
scikit-learn
imbalanced-learn
xgboost
lightgbm

# Network and graph analysis
networkx

# Graph Neural Networks
torch
torch-geometric

# Explainable AI
shap

# Dashboard
streamlit
